<h1><%= @restaurant.name %></h1>
<p>
  Address: <%= @restaurant.address %><br>
  Phone Number: <%= @restaurant.phone_number %><br>
  Category: <%= @restaurant.category %>
</p>

<%= link_to 'Back to Restaurants', restaurants_path %>
